config.yml
logs/
.env
__pycache__
# archive/
fileLists
output.prof
configs/

MediaFiles.txt
MediaFilesIncludingSsd.txt

*.log

imageLists/bartolomeobari.txt
imageLists/megumin.txt
imageLists/exampleImageLinks.txt
imageLists/discordNsfwGuildRefs.txt
imageLists/filtered.txt

setup.cfg

*.prof

.vscode/

countLines.py

.gitignore

extranotes.txt

batchFIles/

pixBoards.egg-info/

ammend.ps1